# -------------------------------
# Python cache files
# -------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------------
# Virtual Environments
# -------------------------------
env/
venv/
*env/
new_env/
Scripts/

# -------------------------------
# IDE / Editor settings
# -------------------------------
.vscode/
.idea/

# -------------------------------
# OS & system junk files
# -------------------------------
.DS_Store
Thumbs.db

# -------------------------------
# Streamlit
# -------------------------------
.streamlit/secrets.toml

# -------------------------------
# DeepFace Model Weights and Cache
# -------------------------------
.deepface/
deepface/
*.h5
weights/

# -------------------------------
# Logs
# -------------------------------
logs/
*.log

# -------------------------------
# Generated / Intermediate Data
# -------------------------------
data/train/
data/02_intermediate_data/
data/01_raw_data/bibek*
extra_files/*
*face_day4/
*day*

