# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd

# ---- Virtual Environments ----
env/
venv/
*env/
new_env/
Scripts/

# ---- OS / System Files ----
.DS_Store
Thumbs.db

# ---- IDE Files ----
.vscode/
.idea/

# ---- Streamlit ----
.streamlit/secrets.toml

# ---- DeepFace Model Weights ----
.deepface/
deepface/
*.h5
weights/

# ---- Data / Training / Output ----
data/train/
data/02_intermediate_data/
data/01_raw_data/bibek*
extra_files/*
*face_day4/
*day*

# ---- Logs ----
logs/
*.log

